.benefit-root {
  padding: 2rem 0;
  background: linear-gradient(10deg, rgb(172, 166, 166), rgb(73, 224, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 450px) {
    padding: 0;
  }
}

.first-div,
.second-div {
  margin: 3rem 0;

  .img-part {
    background: #d1e5f80c;
    box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid #d1e5f80c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 28rem;
      height: 28rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      @media screen and (max-width: 770px) {
        width: 21rem;
        height: 26rem;
      }
      @media screen and (max-width: 450px) {
        width: 23rem;
        height: 26rem;
      }
      @media screen and (max-width: 380px) {
        width: 21rem;
        height: 23rem;
      }
      @media screen and (max-width: 330px) {
        width: 18rem;
        height: 22rem;
      }
    }
  }

  .text-part {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 770px) {
      font-size: 1rem;
      padding-left: 2rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
      padding: 0.5rem;
      margin-top: 1.5rem;
    }
  }
}

.second-div {
  @media screen and (max-width: 450px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .text-part {
    padding: 0;
    padding-right: 3rem;
  }
}
