@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$blue: #1291db;
$red: red;
$grey: grey;

.nc-btn {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
}

*::-webkit-scrollbar {
  width: 1px !important;
}

*::-webkit-scrollbar-track {
  width: 1px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 20px;
  border: transparent;
}

a {
  color: white;
  text-decoration: none;
}

html,
body {
  font-family: Inter;
  box-sizing: border-box;
  overflow-x: hidden;

  background: -moz-radial-gradient(
    center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
  background: -webkit-radial-gradient(
    center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
  background: radial-gradient(
    ellipse at center,
    #000000 0%,
    #000a13 24%,
    #000000 100%
  );
}

@import "./pages/index";
@import "./components/header-text";
@import "./components/desp-text";
@import "./components/circle-img";
@import "./components/colour-btn";
@import "./components/colour-tag";
@import "./components/splash-btn";
@import "./components/team-card";
@import "./components/footer";
@import "./components/hero-section";
@import "./components/double-header";
@import "./components/benefit-col";
@import "./components/dapp";
@import "./components/section-card";
@import "./components/blog/_blog-post";
@import "./components/roadmap/road-map-root";
@import "./components/roadmap/road-map-item-left";
@import "./components/roadmap/road-map-item-right";
@import "./components/roadmap/roadmap-mobile";
